services:
  app:
    build:
      context: .
      secrets:
        - startgg_secrets
    volumes:
      - ./out:/app/out
    ports:
      - '3001:3000'
    environment:
      - ORIGIN=http://localhost:3001

  minio:
    image: minio/minio
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_ACCESS_KEY}
    command: server /data --console-address ":9001"

  minio-setup:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      until (mc alias set myminio http://minio:9000 ${S3_ACCESS_KEY_ID} ${S3_SECRET_ACCESS_KEY}); do echo '...waiting for minio...'; sleep 1; done;
      mc mb myminio/smash-recap --ignore-existing;
      mc anonymous set public myminio/smash-recap;
      mc ilm add --expiry-days 7 myminio/smash-recap;
      exit 0;
      "

secrets:
  startgg_secrets:
    file: .env

volumes:
  minio_data:
