services:
  app:
    image: ghcr.io/pnsgg/smashrecap:latest
    pull_policy: always
    ports:
      - '3001:3000'
    environment:
      - ALLOW_CACHING=true
      - ORIGIN=${ORIGIN}
      - REDIS_URL=redis://redis:6379
      - REMOTION_BUNDLE_LOCATION=${REMOTION_BUNDLE_LOCATION}
      - REMOTION_AWS_ACCESS_KEY_ID=${REMOTION_AWS_ACCESS_KEY_ID}
      - REMOTION_AWS_SECRET_ACCESS_KEY=${REMOTION_AWS_SECRET_ACCESS_KEY}
      - STARTGG_CLIENT_ID=${STARTGG_CLIENT_ID}
      - STARTGG_CLIENT_SECRET=${STARTGG_CLIENT_SECRET}
      - STARTGG_REDIRECT_URI=${STARTGG_REDIRECT_URI}
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - '6379:6379'
    volumes:
      - ./redis/data:/data
    command: redis-server --appendonly yes
