@font-face {
  font-family: 'Instrument Sans', sans-serif;
  src: url('/fonts/InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype');
}

.heading {
  font-size: 4rem;
  font-variation-settings: 'wdth' 75;
  line-height: 1;
  font-weight: 700;
}

h1,
.heading1 {
  font-size: 2.75rem; /* 44px */
  font-variation-settings: 'wdth' 75;
  line-height: 1.1;
  font-weight: 600;
}

h2,
.heading2 {
  font-size: 2rem; /* 32px */
  font-variation-settings: 'wdth' 80;
  line-height: 1.1;
  font-weight: 600;
}

h3,
.heading3 {
  font-size: 1.75rem; /* 28px */
  font-variation-settings: 'wdth' 85;
  line-height: 1.1;
  font-weight: 500;
}

h4,
.heading4 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.25;
}

.small-text {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 600;
}

.subtitle {
  font-size: 1.25rem; /* 20px */
  font-variation-settings: 'wdth' 85;
  line-height: 1.6;
  font-weight: 600;
}

p,
.paragraph {
  font-size: 1.125rem; /* 18px */
  line-height: 1.4;
}
