:root {
  --really-white: white;
  --red-pns-10: #fff5f7;
  --red-pns-25: #fad6de;
  --red-pns: #ff1b4c;
  --red-pns-75: #c20a32;
  --red-pns-90: #7d001b;
  --nearly-black: #1b0015;
  --blue-buvette: #1cc1ff;
  --violet-pop: #cb1cff;

  --font-family: 'Instrument Sans', sans-serif;
}
