:root {
  --blue-buvette: #1cc1ff;
  --red-pns: #ff1b4c;
  --red-pns-variant: #e50032;
  --white: white;
  --black: #1b0015;
  --black-variant: #493344;

  --font-family: 'Instrument Sans', sans-serif;
}
